# project
.DS_Store
run_configs/
model_weights/
pip-wheel-metadata/
lightning_logs/
.vscode/
output/
.history/

# Tsugumasa
.zip
.mp3
.wav
.json
*.a
*.zip
*.app
build/
AKWF_44k1_600s/
AKWF_44k1_600_sigmus/
AKWF_16k_80s/
outputs/
log/
WavetableCVAE/
__MACOSX

*.out
nohup.out

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
.github
*.pyc

# C extensions
*.so

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# SageMath parsed files
*.sage.py
# pl tests
ml-runs/
mlruns/
*.zip
test-reports/
wandb
.forked/
*.prof
*.tar.gz
