# project
.DS_Store
run_configs/
model_weights/
pip-wheel-metadata/
lightning_logs/
.vscode/

# Tsugumasa
.zip
.mp3
.wav
.json
*.a
*.app

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
.github
*.pyc

# C extensions
*.so

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# SageMath parsed files
*.sage.py
# pl tests
ml-runs/
mlruns/
*.zip
*.ckpt
test-reports/
wandb
.forked/
*.prof
*.tar.gz
.neptune/
# *.pth
*.pt

# IDEs
.idea
.vscode
